body {
    font-family: monospace, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #211e1e;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: rgb(209, 203, 203);
    text-decoration: none;
    padding: 14px 20px;
}



nav ul li a:hover {
    background-color: #716969;
}
